<h4 class="form-section-title">Comments</h4>

<% if recipe.comments.any? %>
  <ul class="comment-list">
    <% recipe.comments.each do |c| %>
      <li class="comment-item">
        <span class="comment-user"><%= c.user.email %></span>
        <p class="comment-body"><%= c.body %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="form-hint">No comments yet.</p>
<% end %>

<% if user_signed_in? %>
  <div class="comment-form">
    <%= form_with model: new_comment do |form| %>
      <%= form.text_area :body, class: "text-input comment-input", placeholder: "Leave a comment..." %>
      <%= form.hidden_field :recipe_id, value: recipe.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="comment-submit">
        <%= form.submit "Submit Comment", class: "button" %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="form-hint"><%= link_to "Sign in", new_user_session_path %> to leave a comment.</p>
<% end %>
