<div class="comments bg-primary">
  <h4 class="stitch-font">COMMENTS:</h4>
  <ul>
    <% recipe.comments.each do |c| %>
      <li class="comment">
        <p class="comment-user"><strong><%= c.user.email %></strong></p>
        <p class="comment-body"><%= c.body %></p>
      </li>
    <% end %>
    <li class="comment">
      <%= form_with model: new_comment do |form| %>
        <p class="comment-body">
          <%= form.text_area :body, size: "30x2", placeholder: "Have thoughts?" %>
        </p>
        <%= form.hidden_field :recipe_id, value: recipe.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Submit Comment" %>
      <% end %>
    </li>
  </ul>
</div>