<%# comments partial %>
<div class="comments container">
  <ul>
  <% if recipe_comments %>
    <% recipe_comments.each do |c| %>
      <li class="comment">
        <h5 class="comment-user"><%= c.user %></h5>
        <p class="comment-body"><%= c.body %></p>
      </li>
    <% end %>
  <% end %>
  <li class="comment">
    <% form_with model: new_comment do |form| %>
      <p class="comment-body">
        <%= form.text_area :body, size: "30x2", placeholder: "Have thoughts?" %>
      </p>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Submit Comment" %>
    <% end %>
  </li>
  </ul>
</div>