<h1><%= link_to recipe.name, recipe_path(recipe) %></h1>
<% unless recipe.author == "" %>
  <p>A recipe from <%= recipe.author %></p>
<% end %>
<p><%= recipe.culture %> <%= recipe.meal_type %></p>
<p><%= recipe.servings %> servings</p>
<h3>Ingredients</h3>
<ul>
  <% recipe.ingredients.each do |i| %>
    <li><%= i.name %>, <%= i.measurement_amount %> <%= i.measurement_type %></li>
  <% end %>
</ul>
<h3>Steps</h3>
<ol>
  <% recipe.steps.each do |s| %>
    <li><%= s.instructions %></li>
  <% end %>
</ol>
<div>
  <%= link_to "Edit Recipe", edit_recipe_path(recipe) %>
</div>