<div class="recipe-columns">
  <div class="recipe-ingredients-col">
    <h4 class="form-section-title">Ingredients</h4>
    <ul class="ingredient-list">
      <% recipe.ingredients.each do |i| %>
        <li class="ingredient">
          <div class="ingredient-name"><%= i.name %></div>
          <div class="ingredient-measurement">
            <% if i.measurement_type == "To Taste" %>
              To Taste
            <% elsif i.measurement_type.present? %>
              <% if i.measurement_amount %>
                <% if i.measurement_amount % 1 == 0 %>
                  <%= i.measurement_amount.to_i %>
                <% elsif i.measurement_amount < 1 %>
                  <% amount = i.measurement_amount.divmod 1 %>
                  <%= amount[1].to_r.rationalize(0.05) %>
                <% else %>
                  <% amount = i.measurement_amount.divmod 1 %>
                  <%= amount[0].to_i %> <%= amount[1].to_r.rationalize(0.01) %>
                <% end %>
              <% end %>
              <%= i.measurement_type %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="recipe-steps-col">
    <h4 class="form-section-title">Steps</h4>
    <ol class="recipe-steps-list">
      <% recipe.steps.each do |s| %>
        <li class="recipe-step-item"><%= s.instructions %></li>
      <% end %>
    </ol>
  </div>
</div>
