<div class="recipe-display">
  <div class="recipe-info">
    <span class="name"><h1 class="recipe-name"><%= link_to recipe.name, recipe_path(recipe) %></h1></span>
    <span class="author">
    <% unless recipe.author == "" %>
      <p>A recipe from <%= recipe.author %></p>
    <% end %></span>
    <span class="culture-type"><p><%= recipe.culture %> <%= recipe.meal_type %></p></span>
    <span class="servings"><p><%= recipe.servings %> servings</p></span>
    <span class="edit-link"><%= link_to "Edit Recipe", edit_recipe_path(recipe) %></span>
  </div>
  <div class="recipe">
    <div class="recipe-ingredients">
      <h3>Ingredients</h3>
      <ul class="ingredient-list">
        <% recipe.ingredients.each do |i| %>
          <li class="ingredient">
            <div class="ingredient-name">
              <%= i.name %>
            </div>
            <div class="ingredient-measurement">
              <%= i.measurement_amount %> <%= i.measurement_type %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="recipe-steps">
      <h3>Steps</h3>
      <ol class="step-list-box">
        <% recipe.steps.each do |s| %>
          <li class="step-box"><%= s.instructions %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>