<div class="buttons-container">
    <%= button_to "All", recipes_path, method: :get %>
    <%= button_to "Breakfast", recipes_path, method: :get, params: {meal_type: "Breakfast"} %>
    <%= button_to "Lunch", recipes_path, method: :get, params: {meal_type: "Lunch"} %>
    <%= button_to "Dinner", recipes_path, method: :get, params: {meal_type: "Dinner"} %>
    <%= button_to "Snack", recipes_path, method: :get, params: {meal_type: "Snack"} %>
    <%= button_to "Dessert", recipes_path, method: :get, params: {meal_type: "Dessert"} %>
    <%= button_to "Drink", recipes_path, method: :get, params: {meal_type: "Drink"} %>
</div>