<div data-controller="ingredients-and-steps" data-ingredients-and-steps-ingredients-value="<%= recipe.ingredients.length %>" data-ingredients-and-steps-steps-value="<%= recipe.steps.length %>">
<%= form_with model: recipe do |form| %>
  <div class="input-field">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "text-input" %>
  </div>
  <div class="input-field">
    <%= form.label :author, "Author" %>
    <%= form.text_field :author, class: "text-input" %>
  </div>
  <div class="input-field">
    <%= form.label :meal_type, "Type" %>
    <%= form.select :meal_type, ["Breakfast", "Lunch", "Dinner", "Snack", "Dessert", "Bread/Baked Goods", "Drink", "Cocktail"] %>
  </div>
  <div class="input-field">
    <%= form.label :protein, "Protein" %>
    <%= form.select :protein, ["Poultry", "Red Meat", "Seafood", "Vegetarian", "None"] %>
  </div>
  <div class="input-field">
    <%= form.label :culture, "Culture" %>
    <%= form.text_field :culture, class: "text-input" %>
  </div>
  <div class="input-field">
    <%= form.label :servings, "Number of Servings" %>
    <%= form.number_field :servings, class: "text-input" %>
  </div>
  <h3>Ingredients</h3>
  <p>Enter ingredient amounts in approximate decimals. For example, .33 for 1/3, .125 for 1/8, etc.</p>
  <div data-ingredients-and-steps-target="ingredientList">
    <%= form.fields_for :ingredients do |ingredients_form|%>
      <template data-ingredients-and-steps-target="ingredientTemplate">
        <div class="input-field" data-ingredients-and-steps-target="ingredient">
          <div>
            <%= ingredients_form.label :name, "Name" %>
            <%= ingredients_form.text_field :name, class: "text-input" %>
            <%= ingredients_form.label :measurement_amount, "Measurement Amount" %>
            <%= ingredients_form.number_field :measurement_amount, step: :any, class: "text-input" %>
            <%= ingredients_form.label :measurement_type, "Unit" %>
            <%= ingredients_form.select :measurement_type, ["cups", "oz", "Tbsp", "tsp", "lb", "g", "L", "mL", "cans", "quantity"], class: "text-input" %>
          </div>
        </div>
      </template>
      <div class="input-field" data-ingredients-and-steps-target="ingredient">
        <div>
          <%= ingredients_form.label :name, "Name" %>
          <%= ingredients_form.text_field :name, class: "text-input" %>
          <%= ingredients_form.label :measurement_amount, "Measurement Amount" %>
          <%= ingredients_form.number_field :measurement_amount, step: :any, class: "text-input" %>
          <%= ingredients_form.label :measurement_type, "Unit" %>
          <%= ingredients_form.select :measurement_type, ["cups", "oz", "Tbsp", "tsp", "lb", "g", "L", "mL", "cans", "quantity"], class: "text-input" %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <button type="button" data-action="ingredients-and-steps#addIngredient">Add Ingredient</button>
    <button type="button" data-action="ingredients-and-steps#removeIngredient">Remove Ingredient</button>
  </div>

  <h3>Steps</h3>
  <ol data-ingredients-and-steps-target="stepList">
    <%= form.fields_for :steps do |steps_form|%>
    <template data-ingredients-and-steps-target="stepTemplate">
      <li class="input-field" data-ingredients-and-steps-target="step">
        <%= steps_form.text_area :instructions, size: "40x5", class: "text-input" %>
      </li>
    </template>
    <li class="input-field" data-ingredients-and-steps-target="step">
      <%= steps_form.text_area :instructions, size: "40x5", class: "text-input" %>
    </li>
    <% end %>
  </ol>
  <div>
    <button type="button" data-action="ingredients-and-steps#addStep">Add Step</button>
    <button type="button" data-action="ingredients-and-steps#removeStep">Remove Step</button>
  </div>
  <p>Note: Adding pictures for the recipe card and/or recipe image will replace old pictures.</p>
  <div class="file-upload">
    <%= form.label "Recipe Card:" %>
    <%= form.file_field :recipe_card %>
  </div>
  <div class="file-upload">
    <%= form.label "Recipe Image:" %>
    <%= form.file_field :image %>
  </div>
<%= form.submit "Save Recipe", class: "button" %>
<% end %>

<div data-ingredients-and-steps-target="warning"></div>
</div>