<div class="recipes container">
  <div class="recipe-choices bg-primary">
    <div class="recipe-choices-header">
      <h3 class="stitch-font"><%= link_to "RECIPES", all_recipes_path %></h3>
      <div class="container">
        <%= link_to "Add a recipe", new_recipe_path %>
      </div>
    </div>
    <div class="meal-types">
      <%= render "recipes/meal_types", :path => recipes_path %>
    </div>
    <ul class="recipe-list">
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>
  <div class="recipe-card bg-primary">
    <p class="stitch-font welcome">HEY MOM! WELCOME TO YOUR WEBSITE, HOPE YOU ENJOY IT :)</p>
    <div class="quote-display">
      <% if @quote %>
        <div>
          <p class="stitch-font quote">"<%= @quote.body.upcase %>"</p>
        </div>
        <div class="quote-buttons">
          <%= link_to "Edit Wititude", edit_quote_path(@quote), class: "button" %>
        </div>
      <% end %>
      <div class="quote-buttons">
        <%= link_to "Add New Wititude", new_quote_path, class: "button" %>
      </div>
    </div>
  </div>
</div>
