<h1><%= @recipe.name %></h1>
<p><%= @recipe.culture %> <%= @recipe.meal_type %></p>
<p>Prep time: <%= @recipe.prep_hours%> hours, <%= @recipe.prep_minutes%> minutes</p>
<p><%= @recipe.servings %> servings</p>
<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |i| %>
    <li><%= i.name %>, <%= i.measurement_amount %> <%= i.measurement_type %></li>
  <% end %>
</ul>
<h3>Steps</h3>
<ol>
  <% @recipe.steps.each do |s| %>
    <li><%= s.instructions %></li>
  <% end %>
</ol>
<%= link_to "Home", recipes_path %>