<!DOCTYPE html>
<html>
  <head>
    <title>FamilyRecipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header bg-primary">
      <h1><%= link_to "Michaelis' Family Recipes", root_path %></h1>
      <%= render "recipes/search_form" %>
    </div>
    <div class="content-cushion">
    <%= yield %>
    </div>
    <footer class="footer bg-primary">
      <p>Copyright Michaelis Family 2023</p>
      <% if user_signed_in? %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </footer>
  </body>
</html>
